/* Write your CSS here! */
p {
    color: red;
    margin-left: 80px;
    background-color: yellow;
  }
  h1 {
    color:rgb(56, 206, 186);
    padding-left: 400px;  
  }
  h2{
    color: rgb(111, 0, 255);
  }

