/* Write your CSS here! */
p {
    color: rgb(224, 134, 16);
    margin-left:4rch;
    ;
  }
  h1 {
    background-color:palevioletred;
    color:rgba(1, 14, 20, 0.623);
    padding-left: 400px;  
  }
  h2{
    color: rgb(111, 0, 255);
  }

